<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cart">
            <h2><span>Cart</span> {{cart.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{cart.name}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{cart.price}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{cart.amount}}</span>
                </dd>
                <dt><span>Image Url</span></dt>
                <dd>
                    <span>{{cart.image_url}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
